.banner-container {
    display: flex;
    justify-content: center;
}
.banner-content-container {
    width: 90%;
    min-width: 1200px;
    font-size: 18px;
    box-sizing: border-box;
    padding-top: 30px;
}
.banner-text {
    font-family: sans-serif;
    font-size: 27px;
}
.explore-button {
    padding: 14px;
    background-color: black;
    font-size: 22px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
